[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 14.0

[submodule "OCA/account-reconcile"]
	path = OCA/account-reconcile
	url = git@github.com:OCA/account-reconcile.git
	branch = 14.0

[submodule "OCA/bank-statement-import"]
	path = OCA/bank-statement-import
	url = git@github.com:OCA/bank-statement-import.git
	branch = 14.0
